<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    CRUD ANGULAR
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action" *ngFor="let usuario of usuarioArray"
         (click)="editar(usuario)" [class.active]="usuario == createUsuario">
          <span class="badge badge-primary">{{usuario.id}}</span> {{usuario.nombre}} - {{usuario.cargo}}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Registrar Usuario
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="createUsuario.nombre" placeholder="Inserta Nombre" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="createUsuario.cargo" placeholder="Inserta Cargo" class="form-control">
          </div>
          <button (click)="agregar()" class="btn btn-primary">
            Registrar
          </button>
          <button (click)="eliminar()" class="btn btn-danger" *ngIf="createUsuario.id !== 0">
            Eliminar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img width="300" alt="" src="../assets/user.png">
    </div>
  </div>
</div>